.accordion {
	font-family: 'DM Sans', sans-serif;
	margin-bottom: 100px;
	&__title{
		color: #003146;
		font-size: 70px;
		max-width: 1170px;
		text-align: center;
		margin: 0 auto 100px;
	}
	&__wrapper {
		max-width: 1440px;
		height: 400px;
		margin: 0 auto 0;
		padding: 0 60px;
		display: flex;
		justify-content: space-between;
	}
	&__paragraphs-wrapper {
		width: 50%;
	}
	&__paragraph {
		&:last-child span::before{
			background-color: transparent;
		}
	}
	&__paragraph-title {
		position: relative;
		font-family: 'DM Sans';
		font-style: normal;
		font-weight: 700;
		font-size: 27px;
		line-height: 45px;
		color: #5E7C89;
		padding: 0px 40px;
		transition: all .3s;
		&::before{
			content:'';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #5E7C89;
			transition: all .3s;
		}
	}
	&__paragraph-text {
		position: relative;
		display: block;
		padding: 0px 0px 40px 40px;
		margin: 0px;
		font-size: 17px;
		line-height: 39px;
		max-height: 0px;
		overflow: hidden;
		transition: all .25s;
		color: transparent;
		width: 410px;
		&::before{
			content:'';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 2px;
			height: 30px;
			border-radius: 2px;
			background-color: #5E7C89;
			transition: all .3s;
		}
	}
	&__graphic-wrapper{
		position: relative;
		width: 50%;
		height: 400px;
		object-fit: scale-down;
	}
	&__graphic{
		width: 100%;
		border-radius: 20px;
		overflow: hidden;
	}
	&__img-active{
		opacity: 1;
	}
	&__paragraph-active{
		&:last-child span::before{
			background-color: #003146;
		}
		.accordion {
			&__paragraph-title {
				color: #003146;
				
				&::before{
					background-color: #003146;
				}
			}
			&__paragraph-text {
				padding: 0px 0px 0px 40px;
				transition-delay: .15s;
				max-height: 200px;
				margin: 20px 0;
				color: #000;
				&::before{
					height: 100%;
					background-color: #003146;
				}
			}
		}
	}
	.title{
		width: 800px;
	}
}

.accordion__differences{
	.accordion__paragraphs-wrapper{
		width: auto;
	}
}
.container{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 60px;
}

@media (max-width: 1000px) {
	.accordion {
		margin-bottom: 50px;
		&__wrapper {
			flex-direction: column-reverse;
			height: auto;
			padding: 0 20px;
		}
		&__paragraphs-wrapper {
			width: auto;
			min-height: 300px;
			margin-left: 20px;
		}
		&__paragraph-title {
			font-weight: 700;
			font-size: 24px;
			line-height: 31px;
		}
		&__paragraph-text {
			width: 100%;
			font-weight: 400;
			font-size: 16px;
			line-height: 27px;
			padding: 0px 20px 40px 20px;
		}
		&__graphic-wrapper{
			width: 100%;
			height: auto;
			margin-bottom: 50px;
		}
		&__paragraph-active{
			&:last-child span::before{
				background-color: #003146;
			}
			.accordion {
				&__paragraph-text {
					padding: 0px 20px 0px 26px;
					transition-delay: .15s;
					margin: 15px 0;
				}
			}
		}
		.title{
			width: 300px;
		}
	}
	.accordion__differences{
		.accordion {
			&__wrapper {
				flex-direction: column;
			}
		}
		.accordion__paragraphs-wrapper{
			
		}
	}
}

@media (max-width: 600px) {
	.accordion {
		&__paragraphs-wrapper {
			width: auto;
			min-height: 350px;
		}
	}
}